.container_header {
  width: var(--dani-full);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dani-blue-color);
}
.logo > a {
  width: 100px;
  display: flex;
}
.logo > a > img {
  background-size: cover;
  width: var(--dani-full);
}
.title {
  display: none;
}
.search_bar {
  display: flex;
  align-items: center;
}
#select_categories {
  padding: 7px;
  border-radius: 5px 0 0 5px;
  width: 170px;
}
#form_search {
  width: 270px;
  padding: 7.5px;
  border-radius: 0 5px 5px 0;
}
.nav_header {
  display: flex;
  justify-content: space-around;
}
.nav_header > li a {
  color: var(--dani-primary-color);
  padding: 5px;
  height: 20px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
}
.nav_header > li a:hover {
  background-color: var(--dani-primary-color);
  color: var(--dani-blue-color);
}

.count_article {
  color: white;
  font-size: var(--dani-xs);
  background-color: var(--dani-blue-color);
  border: 0.5px solid var(--dani-primary-color);
  padding: 2px 5px;
  border-radius: var(--dani-full);
  position: absolute;
  translate: 10px 15px;
}

.nav_header > li > p {
  font-size: var(--dani-s);
}

/*Media Query*/
@media (max-width: 1007px) {
  .container_header {
    flex-direction: column;
    padding: 0 0 20px 0;
    gap: var(--dani-m);
    background-color: var(--dani-primary-color);
    border-bottom: 1px solid var(--dani-blue-color);
  }
  .title {
    display: flex;
    width: var(--dani-full);
    height: 100px;
    position: absolute;
    color: var(--dani-primary-color);
    font-size: var(--dani-xxl);
    justify-content: center;
    align-items: center;
    background-color: var(--dani-blueOpacity-color);
  }
  #nav_header {
    width: var(--dani-full);
  }
  .nav_header > li a {
    color: var(--dani-blue-color);
  }
  .container {
    width: var(--dani-full);
    margin-right: 0;
    flex-direction: column;
    gap: 10px;
  }
  .search_bar {
    width: 90%;
    flex-direction: column-reverse;
    align-items: end;
    gap: var(--dani-s);
  }
  #select_categories {
    border-radius: 5px;
  }
  #form_search {
    border-radius: 5px;
  }
  .logo {
    width: var(--dani-full);
  }
  .logo a {
    width: var(--dani-full);
    height: 100px;
  }
  .logo a img {
    object-fit: cover;
    background-color: var(--dani-blue-color);
  }
}
@media (max-width: 439px) {
  .title {
    font-size: var(--dani-xl);
  }
  .nav_header {
    flex-direction: column;
  }
  .nav_header > li {
    gap: var(--dani-xs);
    margin-bottom: var(--dani-s);
  }
  svg {
    width: 20px;
  }
}
